@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");

* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

ul li {
  list-style-type: none;
  padding: 0px 10px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

.nav-bar {
  height: 70px;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.flex {
  display: flex;
}

.col-2 {
  width: 50%;
}

.main-section {
  align-items: center;
  padding-left: 70px;
}

.btn-shop {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-shop:hover {
  background-color: cadetblue;
}

.content p,
button,
h1 {
  padding: 10px 0px;
}

.col-2 img {
  width: 60%;
}

header {
  background: radial-gradient(white, #d4d4d4);
}

.logo {
  height: 70%;
}

.container {
  width: 70%;
  margin: auto;
}

/* category */
.heading {
  text-align: center;
  font-size: 22px;
}

.category {
  justify-content: space-between;
  margin: 30px;
}

.col-4 {
  width: 25%;
  padding: 0px 10px;
}

.col-4 img {
  width: 100%;
}

/* category */

/* feature */
.featured-product {
  align-items: center;
}

.feature-content {
  margin: 20px;
}

.btn-feature {
  padding: 8px 18px;
  border: none;
  background: blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn-feature:hover {
  background: grey;
}

.col-2 img {
  width: 100%;
}
/* feature */
/* 
product */

.btn-product {
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: grey;
}

.product-section {
  margin: 60px 0px;
}

.btn-product:hover {
  background-color: orange;
  cursor: pointer;
  color: black;
}

/* contact */

.col-2 {
  flex-direction: column;
}

input {
  padding: 8px 25px;
}

.btn-send {
  border: none;
  padding: 8px 22px;
  background-color: orange;
}

input,
button {
  margin: 10px 15px;
}

/* contact */

/* footer */
footer {
  width: 70%;
  margin: auto;
}
.footer-section {
  background-color: grey;
}

.col-3 {
  width: 33%;
}

.col-3 img {
  width: 100%;
}
/* footer */

.copyright {
  text-align: center;
  border-top: 1px solid red;
}
